*.log
*.pot
*.pyc
_pycache_
db.sqlite3
/media
venv/
media/
.env
.vscode
Apps/*/migrations/
*/migrations/*
!**/migrations
!**/migrations/_init_.py
Apps/*/migrations
Apps/**/_pycache_
Apps/**/migrations/__pycache__
Gestao_de_atividades/_pycache_